@page "/"
@namespace OROApp.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
}


<component type="typeof(App)" render-mode="ServerPrerendered" />
<!DOCTYPE html>
<html>
<body>
    <script src="css/Bestellen.js"></script>
    <script src="css/BestellenLunch.js"></script>
    <script src="css/BestellenAvondeten.js"></script>
    <script src="css/Bestellinggelukt.js"></script>
</body>

</html>