/*header*/

* {
    background-color: #f3b229;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


@media (max-width: 1920px){
    .box{
        background-color: #f3b229;
        max-height: 160vh;
        justify-content: space-between;
        display: flex;
    }
    }


@media (max-width: 1400px){
    .box{
        background-color: #f3b229;
        max-height: 160vh;
        justify-content: space-between;
        display: flex;
    }
    
/**de bovenbalk van het bestelmenu**/
    .bovenbalk{
        display: flex;
        background-color: #5e2859;
        height: 8rem;
    }
    .btn{
        display: inline-block;
        background-color: #f3b229;
        color: black;
        font-size: 40px;
        border: 1px solid black;
        position: relative;
        height: 5rem;
        width: 12rem;
        margin-top: 1.5rem;
        margin-left: 4rem;
    }
    .button{
        height: 5rem;
        width: 12rem;
    }
    .btn2{
        display: inline-block;
        background-color: #f3b229;
        color: black;
        font-size: 40px;
        border: 1px solid black;
        position: relative;
        height: 5rem;
        width: 12rem;
        margin-top: 1.5rem;
        margin-left: 2rem;
    }
    .button2{
        height: 5rem;
        width: 12rem;
    }
    .btn3{
        display: inline-block;
        background-color: #f3b229;
        color: black;
        font-size: 40px;
        border: 1px solid black;
        position: relative;
        height: 5rem;
        width: 12rem;
        margin-top: 1.5rem;
        margin-left: 2rem;
    }
    .button3{
        height: 5rem;
        width: 12rem;
    }
    }
