@page "/home"
@using System.Threading
@implements IDisposable

<h1>Het is nu: </h1>



<hr />


<p>@theTime</p>
<p>@Dagdeel</p>



@code{



    string theTime;
    Timer aTimer;
    private string _displaydate;
    string Dagdeel;

    protected override void OnInitialized()
    {
    aTimer = new Timer(Tick, null, 0, 1000);

    }

    private void Tick(object _)
    {
    theTime = DateTime.Now.ToLongTimeString();
    InvokeAsync(StateHasChanged);
    if (DateTime.Now.Hour < 12)
    {
    Dagdeel = "Goedemorgen!";
    }
    else if (DateTime.Now.Hour > 11 && DateTime.Now.Hour < 18)
    {
    Dagdeel = "Goedemiddag!";
    }
    else if (DateTime.Now.Hour > 17 && DateTime.Now.Hour < 24)
    {
    Dagdeel = "Goedeavond!";
    }
    else if (DateTime.Now.Hour > 0 && DateTime.Now.Hour < 6)
    {
    Dagdeel = "Goedenacht!";
    }
    else if (DateTime.Now.Hour == 0 )
    {
    Dagdeel = "Goedenacht!";
    }
    else
    {
    Dagdeel = "Error!";
    }
    
    }
    public void Dispose()
    {
    aTimer?.Dispose();
    }



    }

