@page "/login"
@using Pages

<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" consent="with=device-width, initial-scale=1.0">
    <meta charset="utf-8" />
    <title>login</title>
    
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600;700&display=swap" rel="stylesheet">
  
    
</head>

<body>
    <section class="boxU">
        <div class="user">
            
           
        </div>
    </section>
    <section class="pwd">
        <div class="pwde">
            <img src="css/images/aap.jpg">
            <img src="css/images/Koala.jpg">
        </div>

        <div class="pwdt">
            <img src="css/images/krokodil.jpg">
            <img src="css/images/neushoorn.jpg">
        </div>

        <div class="pwdd">
            <a href="Inloggelukt"><img src="css/images/struisvogel.jpg"></a>
            <img src="css/images/tijger.jpg">
        </div>

        <div class="pwdv">
            <img src="css/images/zebra.jpg">
            <img src="css/images/giraf.jpg">
        </div>
    </section>
</body>

</html>

@code {
    
    
}
