@page "/Mijnbestelling"

<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" consent="with=device-width, initial-scale=1.0">
    <meta charset="utf-8" />
    <title>Mijn Bestelling</title>
    <link rel="icon" href="../images/user-img.png">
    <link rel="stylesheet" href="css/Bestellen.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600;700&display=swap" rel="stylesheet">
   
</head>

<body>
    <section class="bestellijst">
        <section class="ontbijt">
            <h1>ONTBIJT</h1>
        </section>
        <section class="lunch">
            <h1>LUNCH</h1>
        </section>
        <section class="avondeten">
            <h1>AVONDETEN</h1>
        </section>
    </section>

    <section class="onderbalk">
        <section class="bestelknop">
            <div class="volgende">
                <a href="Bestellinggelukt">BESTELLEN</a>
            </div>
        </section>
    </section>
</body>

</html>

@code {

}
